{% extends 'user/base.html' %}

{% block content %}
<div class="container">
    <h2>Teacher Personal Page!</h2>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{ teacher.photo.url }}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{ teacher.get_full_name }}</h4>
        <p class="card-text">subject: {{ teacher.subject }}</p>
        <p class="card-text">salary: {{ teacher.salary }}</p>
        <a href="{% url 'user:createteacher' %}" class="btn btn-primary">New!</a>
        <a href="{% url 'user:updateteacher' pk=teacher.pk %}" class="btn btn-warning">Update</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <br>

{% if teacher.group_meneger %}

{% for men in teacher.group_meneger.all %}

<h3>{{ teacher.get_full_name }} is a class tutor <a href="{% url 'user:group' men.pk %}">{{ men }}.</a></h3>
<h4>In this group is {{ men.pupils.count }} people.</h4>

{% endfor %}
{% endif %}
{% endblock %}
