{% extends 'user/base.html' %}


{% load static %}

{% block content %}

<h1>Teachers List Page:</h1>

<div class="row">
  
  {% for teacher in teacher_list %}
  <div class="col-3">
    <div class="card-deck">
  
  <div class="card bg-warning">
    <img class="card-img-top" src="{{ teacher.photo.url }}" alt="Card image" style="height: 250px;">
    <div class="card-body">
      <h5 class="card-title">{{ teacher.get_full_name }}</h5>
      <p class="card-text">{{ teacher.first_name }} study - {{ teacher.subject }}</p>
      <a href="{% url 'user:teacher' teacher.pk %}" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  
</div>
</div>
  {% endfor %}
</div>
{% endblock %}
